<h1>Books I Have Read</h1>

<ul>
    <% @books.each do |book|%>
        <li><%= link_to book.title, read_book_path(book)%> by <%= book.author %>. 
        Finished on: <%= book.date_finished %> with rating: <%= book.rating %></li>
    <% end %>
</ul>
